.comment
  .new_comment
    = form_with url: comments_path, class:"form_comment", method: :post do |f|
      .comment_content
        = icon("far", "comments")
        チャット
      .comment_form
        = f.text_area :content, class:"comment_content_form"
      .image_and_submit_wrapper
        -# .comment_image
        -#   = f.label :image, class:"image_label" do
        -#     = icon("fas", "images fa-2x")
        -#     = f.file_field :image, class: "image_field"
        .comment_submit
          = f.submit "送信", class:"submit_btn"
  .comment_list
    - @comments.order(created_at: "DESC").each do |comment|
      .comment_list_wrapper
        .comment_content
          = icon("far", "comments")
          コメント
          %br
          = safe_join(comment.content.split("\n"),tag(:br))
        -# .comment_images
        -#   - if comment.image.url
        -#     = image_tag comment.image.url, class:"comment_image"
        .comment_user_time_wrapper
          .comment_user_name
            = comment.user.name
            さん
          .comment_time
            = comment.created_at.strftime("%Y/%m/%d %H:%M")
        - if current_user.id == comment.user_id && user_signed_in?
          .comment_delete
            = link_to comment_path(comment.id), method: :delete, class:"link" do
              = icon("fas", "trash")
              削除


