.all_task
  .task_search
    = icon("fas", "search")
    タスクタイトルで検索してください
    = form_with url: search_project_tasks_path(project_id: 1), local: true, method: :get, class:"project_task_form" do |f|
      = f.text_field :keyword, class: "search_input"
      = f.submit "検索", class:"search_btn"
  .all_task_font
    = icon("fas", "tasks")
    タスク一覧
  - @tasks.each do |task|
    = link_to project_task_path(task_id: task.id, project_id: task.project_id, id: current_user.id), class:"task_wrapper_link" do
      .task_detail_wrapper
        .task_detail_wrapper__title
          = icon("fas", "tasks")
          タイトル:
          = task.title
        .task_detail_wrapper__status
          状態:
          - if task.start_time == nil
            まだ開始していません
          -  elsif task.stop_time == nil
            作業中
          - else
            = icon("far", "check-circle")
            完了
            = icon("far", "check-circle")
        .task_detail_wrapper__created_at
          作成日時:
          = task.created_at.strftime("%Y/%m/%d %H:%M")
        .task_detail_wrapper__project_name
          = icon("fas", "project-diagram")
          プロジェクト:
          = task.project.title
        .task_detail_title_estimated_user_wrapper
          .task_detail_wrapper_estimated_time
            予測時間:
            = task.estimated_time
            時間
          .task_detail_wrapper_user
            作成者:
            = task.user.name
          .task_detail_wrapper_to_user
            担当者:
            = User.find(task.to_user_id).name
        .edit_delete_wrapper__task_comment
          = link_to new_project_task_task_comment_path(project_id: task.project_id, task_id: task.id), class:"task_link" do
            = icon("far", "comment")
            タスクにコメントする
        .time_btn_wrapper
          - if task.start_time == nil || task.start_time.task_id != task.id
            .task_start_time
              = form_with url: start_times_path(task_id: task.id), method: :post, local: true do |f|
                = f.submit "開始", class:"start_btn"
          - elsif task.start_time != nil && task.stop_time == nil
            .task_stop_time
              開始日時:
              = task.start_time.created_at.strftime("%Y/%m/%d %H:%M")
              = form_with url: stop_times_path(task_id: task.id), method: :post, local: true do |f|
                = f.submit "終了", class:"stop_btn"
          - else
            = task.stop_time.created_at.strftime("%Y/%m/%d %H:%M")
            に完了しました
