.all_task
  .task_search
    = icon("fas", "search")
    タスクタイトルで検索してください
    = form_with url: search_project_tasks_path(project_id: 1), local: true, method: :get, class:"project_task_form" do |f|
      = f.text_field :keyword, class: "search_input"
      = f.submit "検索", class:"search_btn"
  .all_task_font
    タスク一覧
  - @tasks.each do |task|
    = link_to project_task_path(task_id: task.id, project_id: task.project_id, id: current_user.id), class:"task_wrapper_link" do
      .task_wrapper
        .task_wrapper__title
          タスクタイトル:
          = task.title
        .task_wrapper__charge
          担当:
          = task.user.name
        .task_wrapper__detail
          .time_btn_wrapper
            - if task.start_time == nil || task.start_time.task_id != task.id
              .task_start_time
                = form_with url: start_times_path(task_id: task.id), method: :post do |f|
                  = f.submit "開始"
            - if task.start_time != nil && task.stop_time == nil
              .task_stop_time
                開始日時:
                = task.start_time.created_at
                = form_with url: stop_times_path(task_id: task.id), method: :post do |f|
                  = f.submit "終了"
            -if task.stop_time != nil && task.stop_time != nil
              = task.stop_time.created_at
              に完了しました


-# .main_all_task
-#   .main_all_task_font
-#     タスク一覧
-#   .all_task
-#     - @tasks.each do |task|
-#       .all_task_wrapper
-#         .all_task_title
-#           = task.title
-#         .all_task_estimated_time
-#           = task.estimated_time
-#         .all_task
