タスク新規投稿ページ（new）
%br
-# -# cost_time、complete_idは最後に入力
= form_with url: project_tasks_path(project_id: params[:project_id]) ,method: :post, local: true do |f|

  タスク名
  = f.text_field :title
  %br
  予測時間(number)
  = f.text_field :estimated_time
  %br
 
  かかった時間
  %br
  = f.text_field :cost_time
  %br
  完了か未完了か（complete_id）
  %br
  = f.text_field :complete_id
  = f.submit "send"