new
%br
-# -# cost_time、complete_idは最後に入力
-# = form_for model:[@project, @task], local:true do |f|
= form_with url: project_tasks_path(project_id: params[:project_id]) ,method: :post, local:true do |f|
  title
  = f.text_field :title
  %br
  estimated_time(number)
  = f.text_field :estimated_time
  %br
 
  cost_time
  %br
  = f.text_field :cost_time
  %br
  complete_id
  %br
  = f.text_field :complete_id
  = f.submit "send"