show task
%br
= @task.title
%br
project title
%br
= @task.project.title
%br
edit
%br
= link_to edit_project_task_path do
  edit
%br
= link_to project_task_path, method: :delete do
  delete
%br

= link_to start_times_path, method: :post do
  start
%br
= link_to stop_times_path, method: :post do
  stop

