タスク詳細ページ（show）
%br
= @task.title
%br
%br
プロジェクトの名前
%br
= @task.project.title
%br

= link_to edit_project_task_path do
  編集
%br
= link_to project_task_path, method: :delete do
  削除
%br

= link_to start_times_path, method: :post do
  開始（まだtask_idが紐付けられない）
%br
= link_to stop_times_path, method: :post do
  終了（まだtask_idが紐付けられない）

