.main_join_project
  %br
  参加しているプロジェクト一覧
  %br
  - @projects.each do |project|
    %br
    プロジェクトタイトル:
    = link_to project_path(project.id) do
      = project.title
    %br
    説明:
    = project.explanation
    %br
    締め切り:
    = project.deadline
    %br
    = link_to new_project_project_comment_path(project.id) do
      このプロジェクトにコメントする
    -# = link_to project_path(project.id) do
    -#   プロジェクト詳細
    %br
    タスク一覧
    - project.tasks.each do |task|
      %br
      タスクタイトル:
      = link_to project_task_path(task_id: task.id, project_id: task.project_id) do
        = task.title
      %br
      担当:
      = task.user.name
      %br

      = link_to project_task_path(task_id: task.id, project_id: task.project_id) do
        タスク詳細(編集、削除、開始、終了)
      %br

      作業コメント一覧
      - task.task_comment.each do |task_comment|
        %br
        作業コメントタイトル:
        = link_to project_task_task_comment_path(project_id: task.project_id, task_id: task_comment.task_id, task_comment_id: task_comment.id) do
          = task_comment.title
        %br
        作業コメント内容:
        = task_comment.comment
        %br
        宛先:
        = User.find(task_comment.to_user_id).name
        %br
        = link_to new_project_task_task_comment_path(task_id: task.id, project_id: task.project_id) do
          タスクにコメントする
        %br
