・プロジェクト関連のあなたへのメッセージ
.project_message
  - @to_user_project_comments.each do |project_comment|
    = link_to project_path(project_comment.project.id) ,class:"procect_task_comment_link" do
      .project_message_wrapper
        .project_message_wrapper__title
          プロジェクト:
          = project_comment.project.title
          へのメッセージ
        .project_message_wrapper__from_user
          From:
          = project_comment.user.name
          さん
        .project_message_wrapper__comment
          コメント:
          = project_comment.comment
      %br
・タスク関連のあなたへのメッセージ
.task_message
  - @to_user_task_comments.each do |task_comment|
    .task_message_wrapper
      = link_to project_task_path(project_id: task_comment.task.project.id, task_id: task_comment.task.id),class:"procect_task_comment_link" do
        .task_message_wrapper__title
          タスク:
          = task_comment.task.title
          へのメッセージ
        .task_message_wrapper__from_user
          From:
          = task_comment.user.name
          さん
        .task_message_wrapper__comment
          コメント
          = task_comment.comment
