.main_user_comment
  .new_user_message
    = link_to new_user_comment_path, class:"message_link" do
      = icon("fas", "envelope")
    メッセージを送る
  .message_btn_list
    %button{ :class => "receive_list_display_click"}
      受信を表示
    %button{ :class => "receive_list_hide_click"}
      受信を非表示
    %button{ :class => "send_list_display_click"}
      送信を表示
    %button{ :class => "send_list_hide_click"}
      送信を非表示
    %button{ :class => "reply_list_display_click"}
      返信を表示
    %button{ :class => "reply_list_hide_click"}
      返信を非表示

  .receive_list
    .receive_list_font
      = icon("far", "envelope")
      個人メッセージ(受信)
    - if @receive_user_comment != []
      - @receive_user_comment.each do |receive_comment|
        = link_to user_comment_path(receive_comment.id), class:"message_link" do
          .main_user_comment_wrapper
            .main_user_comment_wrapper__title
              = icon("far", "envelope")
              タイトル:
              = receive_comment.title
            .main_user_comment_wrapper__message
              内容
              %br
              = safe_join(receive_comment.comment.split("\n"),tag(:br))
            .time_from_wrapper
              .time_from_wrapper__from_user
                From:
                = User.find(receive_comment.user_id).name
              .time_from_wrapper__created_at
                = receive_comment.created_at.strftime("%Y/%m/%d %H:%M")
            .reply_list_link
              = link_to new_user_comment_reply_user_comment_path(receive_comment.id), class:"link" do
                = icon("fas", "reply")
                返信する
        
        .reply_list
          .reply_list_font
            = icon("fas", "reply")
            返信一覧
          - if receive_comment.reply_user_comments != []
            - receive_comment.reply_user_comments.each do |reply|
              .reply_list_wrapper
                .reply_time_from_wrapper
                  .reply_time_from_wrapper__from_user
                    From:
                    = User.find(reply.user_id).name
                  .reply_time_from_wrapper__created_at
                    = reply.created_at.strftime("%Y/%m/%d %H:%M")
                  -# .reply_list_link
                  -#   = link_to new_user_comment_reply_user_comment_path(send_comment.id), class:"link" do
                  -#     = icon("fas", "reply")
                  -#     返信する
                .reply_list_wrapper__content
                  = icon("fas", "reply")
                  内容
                  %br
                  = safe_join(reply.reply.split("\n"), tag(:br))
          - else
            .no_message
              返信がありません
    - else
      .no_message
        受信メッセージがありません


  .send_list
    .send_list_font
      = icon("far", "envelope")
      個人メッセージ(送信)
    - if @send_user_comment != []
      - @send_user_comment.each do |send_comment|
        = link_to user_comment_path(send_comment.id), class:"message_link" do
          .send_list_wrapper
            .send_list_wrapper__title
              = icon("far", "envelope")
              タイトル:
              = send_comment.title
            .send_list_wrapper__content
              内容
              %br
              = safe_join(send_comment.comment.split("\n"),tag(:br))
            .time_to_wrapper
              .time_to_wrapper__to_user
                To:
                = User.find(send_comment.to_user_id).name
              .time_to_wrapper__created_at
                = send_comment.created_at.strftime("%Y/%m/%d %H:%M")
            .reply_list_link
              = link_to new_user_comment_reply_user_comment_path(send_comment.id), class:"link" do
                = icon("fas", "reply")
                返信する

        .reply_list
          .reply_list_font
            = icon("fas", "reply")
            返信一覧
          - if send_comment.reply_user_comments != []
            - send_comment.reply_user_comments.each do |reply|
              .reply_list_wrapper
                .reply_time_from_wrapper
                  .reply_time_from_wrapper__from_user
                    From:
                    = User.find(reply.user_id).name
                  .reply_time_from_wrapper__created_at
                    = reply.created_at.strftime("%Y/%m/%d %H:%M")
                  -# .reply_list_link
                  -#   = link_to new_user_comment_reply_user_comment_path(send_comment.id), class:"link" do
                  -#     = icon("fas", "reply")
                  -#     返信する
                .reply_list_wrapper__content
                  = icon("fas", "reply")
                  内容
                  %br
                  = safe_join(reply.reply.split("\n"), tag(:br))
          - else
            .no_message
              返信がありません

    - else
      .no_message
        送信メッセージがありません