.main_user_comment
  .new_user_message
    = link_to new_user_comment_path, class:"message_link" do
      = icon("fas", "envelope")
    メッセージを送る
  .message_btn_list
    %button{ :class => "receive_list_display_click"}
      受信を表示
    %button{ :class => "receive_list_hide_click"}
      受信を非表示
    %button{ :class => "send_list_display_click"}
      送信を表示
    %button{ :class => "send_list_hide_click"}
      送信を非表示
    %button{ :class => "reply_list_display_click"}
      返信を表示
    %button{ :class => "reply_list_hide_click"}
      返信を非表示

  .receive_list
    ・個人メッセージ(受信)
    - @receive_user_comment.each do |receive_comment|
      = link_to user_comment_path(receive_comment.id), class:"message_link" do
        .main_user_comment_wrapper
          .title_from_user_wrapper
            .main_user_comment_title
              タイトル:
              = receive_comment.title
            .main_user_comment_from_user
              誰から:
              = User.find(receive_comment.user_id).name
              さん
          .main_user_comment_wrapper__message
            内容:
            = receive_comment.comment
      
      .reply_list
        ・返信一覧
        - receive_comment.reply_user_comments.each do |reply|
          .reply_list_wrapper
            .reply_list_content_user_wrapper
              .reply_list_content
                内容:
                = link_to user_comment_reply_user_comment_path(user_comment_id: reply.user_comment_id) do
                  = reply.reply
              .reply_list_from_user
                誰から:
                = User.find(reply.user_id).name
            .reply_list_link
              = link_to new_user_comment_reply_user_comment_path(receive_comment.id) do
                返信する

  .send_list
    ・個人メッセージ(送信)
    - @send_user_comment.each do |send_comment|
      = link_to user_comment_path(send_comment.id), class:"message_link" do
        .send_list_wrapper
          .send_title_user_wrapper
            .send_list_title
              タイトル:
              = send_comment.title
            .send_list_to_user
              宛先:
              = User.find(send_comment.to_user_id).name
          .send_list_content
            内容:
            = send_comment.comment
      
      .reply_list
        ・返信一覧
        - send_comment.reply_user_comments.each do |reply|
          .reply_list_wrapper
            .reply_list_content_user_wrapper
              .reply_list_content
                内容:
                = link_to user_comment_reply_user_comment_path(user_comment_id: reply.user_comment_id) do
                  = reply.reply
              .reply_list_from_user
                誰から:
                = User.find(reply.user_id).name
              .reply_list_link
                = link_to new_user_comment_reply_user_comment_path(send_comment.id) do
                  返信する
