.main_owner_project
  .owner_project_link_font
    = link_to new_project_path,class:"project_link" do
      = icon("fas", "plus-square")
      新しいプロジェクトを追加する
  .owner_project
    .owner_project_content
      リーダーになっているプロジェクト
    - @owner_projects.each do |owner_project|
      = link_to project_path(owner_project.id), class:"owner_project_wrapper_link" do
        .owner_project_wrapper
          .owner_project_wrapper__title
            タイトル:
            = owner_project.title
          .owner_project_wrapper__explanation
            説明
            %br
            = safe_join(owner_project.explanation.split("\n"),tag(:br))
          .owner_project_wrapper__deadline
            締め切り:
            = owner_project.deadline.strftime("%Y年%m月%d日 %H時%M分")
          .owner_project_function
            .owner_project_wrapper__comment_link
              = link_to new_project_project_comment_path(owner_project.id), class:"owner_project_wrapper_link" do
                .owner_project_icon
                  = icon("far", "comment")
                  コメント
            .owner_project_wrapper__edit_link
              = link_to edit_project_path(owner_project.id), class:"owner_project_wrapper_link" do
                .owner_project_icon
                  = icon("far", "edit")
                  編集
            .owner_project_wrapper__delete_link
              = link_to project_path(owner_project.id), method: :delete, class:"owner_project_wrapper_link" do
                .owner_project_icon
                  = icon("fas", "trash")
                  削除
