%br
= current_user.name
さんのマイページ（作業スペース）です。
%br
%br

リーダーのプロジェクト
- @owner_projects.each do |owner_project|
  タイトル
  = owner_project.title
  説明
  = owner_project.explanation
  締め切り
  = owner_project.deadline
%br
***********************************************************************************************************************************************************************************

%br
参加しているプロジェクト
- @projects.each do |project|
  タイトル
  = project.title
  説明
  = project.explanation
  締め切り
  = project.deadline
  - project.tasks.each do |task|
    作業タイトル
    = task.title
    担当
    = task.user.name
    作業へのコメント
    - task.task_comment.each do |task_comment|
      作業コメントタイトル
      = task_comment.title
      作業コメント内容
      = task_comment.comment
      宛先
      = User.find(task_comment.to_user_id).name
      %br
***********************************************************************************************************************************************************************************
%br
個人メッセージ(受信)
- @receive_user_comment.each do |receive_comment|
  %br
  タイトル
  %br
  = receive_comment.title
  %br
  内容
  %br
  = receive_comment.comment
  %br
  誰から
  %br
  = User.find(receive_comment.user_id).name
  %br
  返信一覧
  %br
  - receive_comment.reply_user_comments.each do |reply|
    内容
    = reply.reply
    誰から
    = User.find(reply.user_id).name
    %br
  = link_to new_user_comment_reply_user_comment_path(receive_comment.id) do
    返信する
  %br

***********************************************************************************************************************************************************************************
%br
個人メッセージ(送信)
%br
- @send_user_comment.each do |send_comment|
  %br
  宛先
  %br
  = User.find(send_comment.to_user_id).name
  %br
  タイトル
  %br
  = send_comment.title
  %br
  内容
  %br
  = send_comment.comment
  %br
  返信一覧
  %br
  - send_comment.reply_user_comments.each do |reply|
    内容
    = reply.reply
    誰から
    = User.find(reply.user_id).name
    %br
  %br
  = link_to new_user_comment_reply_user_comment_path(send_comment.id) do
    返信する
