.add_task_font
  = icon("fas", "plus-square")
  = icon("fas", "tasks")
  タスクを追加(ここをクリック)
.detail_task_wrapper
  .add_task
    = form_with url: project_tasks_path(params[:id]), method: :post, local: true do |f|
      .add_task_title
        = icon("fas", "tasks")
        タイトル
        %br
        = f.text_field :title, class:"add_task_field"
      .add_task_user_time_wrapper
        .add_task_user 
          担当
          %br
          = f.select :to_user_id, @users
        .add_task_estimated_time
          予測時間
          .estimated_time_wrapper
            .estimated_time_wrapper__form
              = f.text_field :estimated_time, class:"add_task_time_field", placeholder:"単位：時間"
            .estimated_time_wrapper__btn
              = f.submit "追加", class:"submit_btn"

  .project_detail_tasks
    .project_detail_tasks_font
      = icon("fas", "tasks")
      タスク一覧
    - @project.tasks.order(id: "DESC").each do |task|
      = link_to project_task_path(project_id: task.project.id, task_id: task.id), class:"project_link" do
        .project_detail_tasks_wrapper
          .project_detail_tasks_wrapper__title
            = icon("fas", "tasks")
            タイトル:
            = task.title
          .project_detail_tasks_wrapper__time
            予測時間:
            = task.estimated_time
            時間
          .project_detail_tasks_wrapper__time_to_user
            担当
            = User.find(task.to_user_id).name
          .project_detail_tasks_wrapper__task_comment
            = link_to new_project_task_task_comment_path(project_id: task.project_id, task_id: task.id), class:"link" do
              = icon("far", "comment")
              タスクにコメントする

          .time_btn_wrapper
            - if task.start_time == nil || task.start_time.task_id != task.id
              .task_start_time
                = form_with url: start_times_path(task_id: task.id), method: :post do |f|
                  = f.submit "開始", class:"submit_btn"
            - if task.start_time != nil && task.stop_time == nil
              .task_stop_time
                開始日時:
                = task.start_time.created_at.strftime("%Y/%m/%d %H:%M")
                = form_with url: stop_times_path(task_id: task.id), method: :post do |f|
                  = f.submit "終了", class:"submit_btn"
            -if task.stop_time != nil && task.stop_time != nil
              = task.stop_time.created_at.strftime("%Y/%m/%d %H:%M")
              に完了しました



        