-# 編集ページ
.edit_project
  .edit_project_main
    .edit_project_main_font
      プロジェクト編集画面
    .edit_project_wrapper
      = form_with model: @project do |f|
        .edit_project_wrapper__title
          タイトル
          %br
          = f.text_field :title, class:"new_title_field"
        .edit_project_wrapper__explanation
          説明
          %br
          = f.text_area :explanation, class:"new_explanation_field"
        .edit_project_wrapper__deadline
          締め切り
          %br
          = f.datetime_field :deadline
        -# .new_project_wrapper__user
        -#   メンバーを追加（id）
        -#   %br
        -#   = f.select :user_id, @users, class:"new_user_select"
        .edit_project_wrapper__submit_btn
          %br
          = f.submit "send"
        