%br




プロジェクト一覧
%br
= link_to new_project_path do
  新しいプロジェクトを投稿する
%br
- @projects.each do |project|
  = project.title
  %br
    = link_to project_path(project.id) do
      詳細
    = link_to edit_project_path(project.id) do
      編集
    = link_to project_path(project.id), method: :delete do
      削除
  %br