新しいプロジェクト
%br
%br
-# = form_with model: @project do |f|
= form_for @project do |f|
  %br
  タイトル
  %br
  = f.text_field :title
  %br
  説明
  %br
  = f.text_area :explanation
  %br
  締め切り
  %br
  = f.datetime_field :deadline
  %br
  メンバーを追加（id）
  %br
  = f.text_field :user_id
  -# = f.text_field :project_id

  %br
  = f.submit "send"
  