.new_project
  .new_project_main
    .new_project_main_font
      新規プロジェクト
    .new_project_wrapper
      = form_for @project do |f|
        .new_project_wrapper__title
          タイトル
          %br
          = f.text_field :title, class:"new_title_field"
        .new_project_wrapper__explanation
          説明
          %br
          = f.text_area :explanation, class:"new_explanation_field"
        .new_project_wrapper__deadline
          締め切り
          %br
          = f.datetime_field :deadline
        .new_project_wrapper__user
          メンバーを追加（id）
          %br
          = f.select :user_id, @users, class:"new_user_select"
        .new_project_wrapper__submit_btn
          %br
          = f.submit "send"
        