.new_project
  .new_project_main
    .new_project_main_font
      新規プロジェクト
    .new_project_wrapper
      = form_for @project do |f|
        .new_project_wrapper__title
          タイトル
          %br
          = f.text_field :title, class:"new_title_field"
        .new_project_wrapper__explanation
          説明
          %br
          = f.text_area :explanation, class:"new_explanation_field"
        .new_project_wrapper__deadline
          締め切り
          %br
          = f.datetime_field :deadline
        .new_project_wrapper__user
          -# メンバーを追加（セレクトボックスで選ぶ）
          -# %br
          -# = f.select :select_user_ids, @users, class:"new_user_select"
          -# %br
          -# メンバーを追加（チェックボックスで選ぶ）
          メンバーを追加
          %br
          = f.collection_check_boxes :user_ids, User.all, :id, :name do |user|
            = user.label { user.check_box + user.text}

        .new_project_wrapper__submit_btn
          %br
          = f.submit "作成", class:"submit_btn"
        