.project_detail_main
  .project_detail_left
    .project_detail
      .project_detail_font
        = icon("fas", "project-diagram")
        プロジェクト詳細
      .project_detail_title
        = icon("fas", "project-diagram")
        タイトル:
        = @project.title
      .project_detail_deadline
        締め切り:
        = @project.deadline.strftime("%Y年%m月%d日 %H時%M分")
      .project_detail_user
        責任者:
        = User.find(@project.user_id).name
      .project_detail_explanation_content
        説明
      .project_detail_explanation
        .project_detail_explanation_box
          = safe_join(@project.explanation.split("\n"),tag(:br))
      .owner_project_function
        .owner_project_wrapper__comment_link
          = link_to new_project_project_comment_path(@project.id), class:"owner_project_wrapper_link" do
            .owner_project_icon
              = icon("far", "comment")
              コメント
        - if @project.user_id == current_user.id && user_signed_in?
          .owner_project_wrapper__edit_link
            = link_to edit_project_path(@project.id), class:"owner_project_wrapper_link" do
              .owner_project_icon
                = icon("far", "edit")
                編集
          .owner_project_wrapper__delete_link
            = link_to project_path(@project.id), method: :delete, class:"owner_project_wrapper_link" do
              .owner_project_icon
                = icon("fas", "trash")
                削除
      .member_btn_wrapper
        %button{ :class => "project_detail_join_user_show" }
          メンバーを表示する
        %button{ :class => "project_detail_join_user_hide" }
          メンバーを非表示にする
      .project_detail_join_user
        - @project.users.each do |join_user|
          .join_users_name
          = join_user.name
      = form_with url: project_join_project_users_path(project_id: params[:id]), method: :post, local: true do |f|
        .add_user
          .user_number
            = icon("fas", "users")
            メンバー追加
            %br
            ユーザーを選択してください
          .user_number_form
            = f.select :user_id, @users, {include_blank: "---"}, class:"add_user_select"
            = f.submit "追加", class:"submit_btn"
          -# %br
          -# メンバーを追加
          -# %br
          -# = f.collection_check_boxes :user_ids, User.all, :id, :name do |user|
          -#   = user.label { user.check_box + user.text}
          -#   = f.submit "追加する"
      .complete_project
        = icon("fas", "check-circle")
        プロジェクトを完了、もしくは中止にする
        = form_with url: complete_projects_path(id: @project.id), method: :PATCH, local:true do |f|
          .complete_project_select
            = f.collection_select :complete_id, Complete.all, :id, :name, {class: "complete_select"}
            = f.submit "決定", class:"submit_btn"
  
  
  .project_detail_center
    .project_detail_center_font
      = icon("fas", "project-diagram")
      = icon("far", "comment")
      このプロジェクトへのコメント
    - @project.project_comments.each do |comment|
      = link_to project_project_comment_path(id: comment.id, project_id: comment.project_id), class:"project_link" do
        .project_detail_center_wrapper
          .project_detail_center_title
            = icon("fas", "project-diagram")
            = icon("far", "comment") 
            タイトル:
            = comment.title
          .to_from_wrapper
            .project_detail_center_from_user
              From:
              = comment.user.name
              さん
            .project_detail_center_to_user
              To:
              = User.find(comment.to_user_id).name
              さん
          .project_detail_center_content
            コメント
            %br
            = safe_join(comment.comment.split("\n"),tag(:br))

    
  .project_detail_right
    .add_task_font
      = icon("fas", "plus-square")
      = icon("fas", "tasks")
      タスクを追加(ここをクリック)
    .detail_task_wrapper
      .add_task
        = form_with url: project_tasks_path(params[:id]), method: :post, local: true do |f|
          .add_task_title
            = icon("fas", "tasks")
            タイトル
            %br
            = f.text_field :title, class:"add_task_field"
          .add_task_user_time_wrapper
            .add_task_user 
              担当
              %br
              = f.select :to_user_id, @users
            .add_task_estimated_time
              予測時間
              .estimated_time_wrapper
                .estimated_time_wrapper__form
                  = f.text_field :estimated_time, class:"add_task_time_field", placeholder:"単位：時間"
                .estimated_time_wrapper__btn
                  = f.submit "追加", class:"submit_btn"

      .project_detail_tasks
        .project_detail_tasks_font
          = icon("fas", "tasks")
          タスク一覧
        - @project.tasks.order(id: "DESC").each do |task|
          = link_to project_task_path(project_id: task.project.id, task_id: task.id), class:"project_link" do
            .project_detail_tasks_wrapper
              .project_detail_tasks_wrapper__title
                = icon("fas", "tasks")
                タイトル:
                = task.title
              .project_detail_tasks_wrapper__time
                予測時間:
                = task.estimated_time
                時間
              .project_detail_tasks_wrapper__time_to_user
                担当
                = User.find(task.to_user_id).name
              .project_detail_tasks_wrapper__task_comment
                = link_to new_project_task_task_comment_path(project_id: task.project_id, task_id: task.id), class:"link" do
                  = icon("far", "comment")
                  タスクにコメントする

              .time_btn_wrapper
                - if task.start_time == nil || task.start_time.task_id != task.id
                  .task_start_time
                    = form_with url: start_times_path(task_id: task.id), method: :post do |f|
                      = f.submit "開始", class:"submit_btn"
                - if task.start_time != nil && task.stop_time == nil
                  .task_stop_time
                    開始日時:
                    = task.start_time.created_at.strftime("%Y年%m月%d日 %H時%M分")
                    = form_with url: stop_times_path(task_id: task.id), method: :post do |f|
                      = f.submit "終了", class:"submit_btn"
                -if task.stop_time != nil && task.stop_time != nil
                  = task.stop_time.created_at.strftime("%Y年%m月%d日 %H時%M分")
                  に完了しました



            