.user_new_comment
  .user_new_comment_font
    ユーザーにコメントする
  = form_with url: user_comments_path, method: :post, local: true do |f|
    .user_new_comment_wrapper
      .user_new_comment_wrapper__title
        ユーザーへのコメントタイトル
        %br
        = f.text_field :title, class:"user_new_comment_title_field"
      .user_new_comment_wrapper__comment
        コメント
        %br
        = f.text_area :comment, class: "user_comment_field"
      .user_new_comment_wrapper__to_user
        宛先（ユーザーID）
        %br
        = f.select :to_user_id, @users, {include_blank: "---"}, class:"user_new_comment_select_field"
      .user_new_comment_wrapper__submit_btn
        = f.submit "send"
