.user_comment_detail
  .user_comment_detail_font
    = icon("far", "envelope")
    メッセージ詳細画面
  .user_comment_detail_main
    .user_comment_detail_title
      = icon("far", "envelope")
      タイトル:
      = @user_comment.title
    .user_comment_detail_comment
      内容
      %br
      = safe_join(@user_comment.comment.split("\n"),tag(:br))

    .user_comment_detail_to_from_wrapper
      .user_comment_detail_from_user
        From:
        = @user_comment.user.name
      .user_comment_detail_to_user
        To:
        = User.find(@user_comment.to_user_id).name

  .user_comment_detail_reply
    .user_comment_detail_reply_font
      = icon("fas", "reply")
      返信一覧
    - @replies.each do |reply|
      .user_comment_detail_reply_wrapper
        .user_comment_detail_reply_wrapper__content
          = icon("fas", "reply")
          内容
          %br
          = safe_join(reply.reply.split("\n"),tag(:br))
        .user_comment_detail_reply_wrapper__from_user
          From:
          = reply.user.name
    
