.new_project_comment
  .new_project_comment_font
    = icon("fas", "project-diagram")
    = icon("far", "comment")
    プロジェクトにコメントする
  .new_project_comment_main
    = form_with  url: project_project_comments_path(project_id: params[:project_id]), method: :post, local: true do |f|
      .new_project_comment_wrapper
        .new_project_comment_wrapper__title
          プロジェクトコメントタイトル
          %br
          = f.text_field :title, class: "new_project_comment_text_field"
        .new_project_comment_wrapper__comment
          プロジェクトコメント
          %br
          = f.text_area :comment, class: "new_comment_field"
        .new_project_comment_wrapper__to_user
          宛先のユーザーID
          %br
          = f.select :to_user_id, @users, {include_blank: "---"}
        .new_project_comment_wrapper__submit_btn
          = f.submit "送信",class:"submit_btn"
      
